<div class="product">
    <img src="../../assets/images/clothing.jpg"/>
    <span class="title">Product 1</span>
    <div class="info">
      <div class="product-detail">
        <p>Chilly Hot Pizza</p>
        <p>200.00 EUR</p>
        <p class="small">Chilly Pizza with Extra Cheese</p>
      </div>
    </div>
  </div>  
  <div class="product">
    <img src="../../assets/images/clothing.jpg"/>
    <span class="title">Product 1</span>
    <div class="info">
      <div class="product-detail">
        <p>Chilly Hot Pizza</p>
        <p>200.00 EUR</p>
        <p class="small">Chilly Pizza with Extra Cheese</p>
      </div>
    </div>
  </div>  
  <div class="product">
    <img src="../../assets/images/strawberries.jpeg"/>
    <span class="title">Product 1</span>
    <div class="info">
      <div class="product-detail">
        <p>Chilly Hot Pizza</p>
        <p>200.00 EUR</p>
        <p class="small">Chilly Pizza with Extra Cheese</p>
      </div>
    </div>
  </div>  
  <div class="product">
    <img src="../../assets/images/clothing.jpg"/>
    <span class="title">Product 1</span>
  </div>
  <div class="product">
    <img src="../../assets/images/clothing.jpg"/>
    <span class="title">Product 1</span>
  </div>  
  <div class="product">
    <img src="../../assets/images/clothing.jpg"/>
    <span class="title">Product 1</span>
  </div>  
  <div class="product">
    <img src="../../assets/images/clothing.jpg"/>
    <span class="title">Product 1</span>
  </div>  
  <div class="product">
    <img src="../../assets/images/clothing.jpg"/>
    <span class="title">Product 1</span>
  </div>