<section class="header">
		<span class="heading">Products </span>
		<span class="heading">Price </span>
		<span class="heading">Quality </span>
		<span class="heading">Total </span>
	</section>

	<!-- Product body section -->
	<section class="main-body">
		<div class="card">
			There are no products 
		</div>
		<!-- <div class="card">
			There are no products 
		</div> -->
	</section>
	
	<!-- Product detail section -->
	<section class="item-detail">
		<ul class="list">
			<li class="list-item">
				<span class="left p">SubTotal</span>
			</li>
			<li class="list-item">
				<span class="left p">VAT Tax</span>
			</li>
			<li class="list-item">
				<span class="left p">Discount</span>
			</li>
			<li class="list-item">
				<span class="left p">Total</span>
			</li>
		</ul>
		<ul class="list">
			<li class="list-item white">
				<span class="left p">0.000 EUR</span>
				<span class="right p">0 item</span>
			</li>
			<li class="list-item white">
				<span class="left p">10%</span>
				<span class="right p">0.000 EUR</span>
			</li>
			<li class="list-item white">
				<span class="left p">10%</span>
				<span class="right p">0.000 EUR</span>
			</li>
			<li class="list-item white">
				<span class="left p">0.000 EUR</span>
				<span class="right p"></span>
			</li>
		</ul>
	</section>

	<!-- Button Section -->
	<section>
		<div class="btn btn-cancel left">Cancel Sale</div>
		<div class="btn btn-sale right">Process Sale</div>
	</section>